 /*Fonts for reference */
 /*Bernina Sans Regular
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 400;
    font-style: normal;

Bernina Sans Italic
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 400;
    font-style: italic;

Bernina Sans Bold
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 700;
    font-style: normal;

Bernina Sans Bold Italic
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 700;
    font-style: italic;

Bernina Sans Light
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 300;
    font-style: normal;

Bernina Sans Light Italic
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 300;
    font-style: italic;

Bernina Sans Semibold
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 600;
    font-style: normal;

Bernina Sans Semibold Italic
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 600;
    font-style: italic;

Bernina Sans Extrabold
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 800;
    font-style: normal;

Bernina Sans Extrabold Italic
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 800;
    font-style: italic;*/

main {
  height: 100%;
  margin: 0;
  display: block;
}

article {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

header {
  margin-top: 45px;
}

.bg-light {
  background: white !important;
  border-bottom: 1.5px solid #00bcf1;
}

.logo-container {
  padding-top: 3rem;
}

.logos-row {
  align-items: center;
  padding-bottom: 5rem;
}

.col-img {
  text-align: center;
}

#company-logo-header {
  margin-left: calc((100% - 600px) / 2);
  margin-right: auto;
  width: 600px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
  max-width: 600px;
}

#interactive-heading {
  font-size: 47px;
  line-height: 54px;
  text-align: center;
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: #121212;
  margin: auto;
}

.interactive-byline-container {
  text-align: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  width: calc(100% - 40px);
  max-width: 720px;
  display: flex;
  justify-content: center;
  color:#333;
  font: inherit;
  margin: auto;
  padding: 0;
  border: 0;
}

#interactive-byline {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 14px;
}

h3 {
  font-size: 1.5rem;
}

.asset {
  margin: 25px auto;
  width: calc(100% - 40px);
}



.body {
  max-width: 600px;
  margin-bottom: calc(40px / 2);
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.intro-last {
  margin-bottom: 4rem;
}

.container {
  margin-bottom: 4rem;
}

th {
  text-align: center;

}

.indicator-icon {
  vertical-align: middle;
  border-style: none;
  width: 25%;
  height: auto;
}

.indicator-title {
  padding-top: 10px;
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}

.side-by-side .graphic-container {
  width: 100%;
  height: 60vh;
}

.graphic-wrapper {
  text-align: center;
}

.popup-header {
  font-size: 16px;
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.popup-description {
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 0;
}

.html-table-container {
  margin: 0 auto;
  text-align: center;
}

.graphic-container {
  width: 100%;
  /*height: 60vh;*/
}

.graphic-form-container {
  padding-top: 2rem;
}

.container-dropdown {
  margin-bottom: 1.4rem;
}

#headerImgContainer {
  width: calc(100% - 100px);
  max-width: 90%!important;
}

.slider-container {
  display: flex;
}

.slider-container span:first-child {
  padding-right: 10px;
}

.slider-container span:last-child {
  padding-left: 10px;
}

/*css for slider*/


/*input[type=range]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0  0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}

input[type=range]::-webkit-slider-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0  0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
  -webkit-appearance: none;
}

input[type=range]::-ms-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0  0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range {
  position: relative;
  width: 90%;
  height: 5px;
  margin: auto;
}

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
}

.range input:focus {
  background: none;
  outline: none;
}*/

/*Labels below slider*/
/*.range-labels {
  margin-top: 18px;

  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
  
.range-labels .active {
  color: #37adbf;
}

.range-labels .selected::before {
  background: #37adbf;
}

.range-labels .active.selected::before {
  display: none;
}

.range-labels li {
    position: relative;
    float: left;
    width: 90.25px;
    text-align: center;
    color: #b2b2b2;
    font-size: 14px;
    cursor: pointer;
}
    
.range-labels li::before {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 9px;
  height: 9px;
  background: #b2b2b2;
  border-radius: 50%;
}*/

/*end slider styling*/

.slider-val-container {
  text-align: center;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.button-container {
  padding-top: 2rem;
  text-align: center;
}

.graphic-container.form-container {
  background-color: #f0f0f0;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
}

.btn-success {
  background-color: #00bcf1;
  border-color: #00bcf1;
}

.btn-success:hover {
  background-color: #007db9;
  border-color: #007db9;
}

.results-container {
  display: none;
}

.score-labels {
  text-align: center;
}

.score-label {
  font-size: 40px;
}

.score-explain {
  text-align: center;
}

#scoreExplain {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.score-explain span {
  font-weight: bold;
}

#actualScoreLabel {
  color: #00bcf1;
}

#guessScoreLabel {
  color: #fdb714;
}

#chartContainer {
  display: inline-block;
  margin: 0 auto;
  width: 90%;
  /*border: 1px solid black;*/
}

.tableau-container {
  margin-bottom: 2rem;
  /*display: none;*/
  opacity: 0;
  width: 100%;
  margin-left: 10vw;

}

.tableauPlaceholder {
  width: 100%;
}

.table-container {
  margin-top: 2rem;
  display: none;
}

.popup {
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  text-align: left;
  min-width: 225px;
  border: solid 1px #4d4d4d;
  border-radius: 2px;
}

.popup-header {
  padding-top: 4px;
  font-size: 16px;
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.popup-description {
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  padding-bottom: 4px;
}

.popup-content {
  padding-left: 4px;
}
.axis text {
  font-size: 1.5em;
}

.tick line {
  color: #fff;
}

.right line {
  color: #e8e8e8;
  stroke-width: 10px;
}

.chart-title {
  font-size: 1.5rem;
  padding-bottom: 0;
}

.titleContainer {
  display: inline-flex;
}

.title-text {
  display: inline-flex;
}